<%= form_for @person do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:" %>
      </h2>
      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :role %>
    <%= f.select :role, %w(not_attending coach admin attendant) %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, %w(f m) %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
