= simple_form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg
  .row
    .field
      = f.input :name, placeholder: "Name"
    .field
      = f.input :email, placeholder: "Email"
    .field
      = f.input :company, placeholder: "Company", required: true
    .field
      = f.label :age
      = f.number_field :age, placeholder: "Age", required: true
    .field
      = f.label :room
      = f.select :room, %w(303 305)
    .field
      = f.label :event
      = f.select :event,  %w(1 2 3), required: true, label: "Event", autofocus: true, placeholder: "Event"
    .field
      = f.label :gender
      = f.select :gender, %w(f m)
    .actions
      = f.submit 'Save', {:class => "button"}
