<!--
<form class="form-group">
  <%#  select_tag(@people, options_for_select(People.all.map {|person| [category.name, category.id]}, @category_id), onchange => 'form.submit()') %>
  <select multiple="multiple" id="hola">
    <option>dasd</option>
    <option>dasd</option>
    <option>dasd</option>
  </select>
  <input type="submit" value="Filter" />
</form> -->
<% @tshirt1 = "XS" %>
<% @tshirt2 = "S" %>
<% @tshirt3 = "M" %>
<% @tshirt4 = "L" %>
<% @tshirt5 = "XL" %>

<br>
<br>
<h4>Girls with tshirt_size = <%= @tshirt1 %></h4>
<h5>
  <%= Person.by_role("assistant").by_gender("f").by_tshirt(@tshirt1).count %>
</h5>
<h4>Girls with tshirt_size = <%= @tshirt2 %></h4>
<h5>
  <%= Person.by_role("assistant").by_gender("f").by_tshirt(@tshirt2).count %>
</h5>
<h4>Girls with tshirt_size = <%= @tshirt3 %></h4>
<h5>
  <%= Person.by_role("assistant").by_gender("f").by_tshirt(@tshirt3).count %>
</h5>
<h4>Girls with tshirt_size = <%= @tshirt4 %></h4>
<h5>
  <%= Person.by_role("assistant").by_gender("f").by_tshirt(@tshirt4).count %>
</h5>
<h4>Girls with tshirt_size = <%= @tshirt5 %></h4>
<h5>
  <%= Person.by_role("assistant").by_gender("f").by_tshirt(@tshirt5).count %>
</h5>

<h2>Dos días</h2>
<% @people = Person.by_role("assistant").by_gender("f").by_days("vs") %>
<h3>
  <%= Person.by_role("assistant").by_gender("f").by_days("vs").count %>
</h3>
<br>
<h2>Sábado</h2>
<h3>
  <%= Person.by_role("assistant").by_gender("f").by_days("s").count %>
</h3>

<h2>NO Laptop dos días</h2>
<h3>
  <%= Person.by_role("assistant").by_gender("f").by_days("vs").by_laptop("no").count %>
</h3>

<h2>NO Laptop sábado</h2>
<h3>
  <%= Person.by_role("assistant").by_gender("f").by_days("s").by_laptop("no").count %>
</h3>

<!-- <h3>Listing people - LAPTOP=YES, GENDER=FEMALE</h3> -->
<table class="highlight">
  <tr>
    <th>Tshirt Size</th>
    <th>Days</th>
    <th>Gender</th>
    <th>Laptop</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @people.each do |person| %>
    <tr>
      <td>
        <%= person.tshirt_size %>
      </td>
      <td>
        <%= person.days %>
      </td>
      <td>
        <%= person.gender %>
      </td>
      <td>
        <%= person.laptop %>
      </td>
      <td>
        <%= person.email %>
      </td>
      <td>
        <%= link_to 'Show', person %>
      </td>
      <td>
        <%= link_to 'Edit', edit_person_path(person) %>
      </td>
      <td>
        <%= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New Person', new_person_path %>
<br/>
<%= link_to 'Back to home', root_path %>
