<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Name:</b>
  <%= @person.name %>
</p>
<p>
  <b>Role:</b>
  <%= @person.role %>
</p>
<p>
  <b>Email:</b>
  <%= @person.email %>
</p>
<%= link_to 'Check in', edit_person_path(@person), class: 'btn' %>

<%= link_to 'Volver', people_path, class: 'btn' %>
