.contact-form
  %h3 Contact us
  = simple_form_for @contact_form do |f|
    - if @contact_form.errors.any?
      #error_explanation
        %h2= "#{pluralize(@contact_form.errors.count, 'error')} prohibited this document from being saved:"
        %ul
          - @contact_form.errors.full_messages.each do |msg|
            %li= msg
    .form-inputs
      .row
        .span12
          %b Event
          = f.input :event, required: true, label: false, autofocus: true, collection: %w(1 2 3)
          %b Room
          = f.input :room, required: true, label: false, autofocus: true, collection: %w(303 305)
          %b Recipient
          = f.input :subject, required: true, placeholder: t(:email_placeholder)
          %b Markdown mail body
          = f.input :message, as: :text, label: false, placeholder: t(:message_placeholder)
      .row
        .span12
          .form-actions
            = f.submit :submit, {:class => "button"}
